/* Estilo del encabezado */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav .dropdown {
    display: inline-block;
}

nav .dropdown a {
    text-decoration: none;
}

nav .dropdown button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

nav .dropdown button:hover {
    background-color: #555;
}

/* Estilo del cuerpo */
main {
    padding: 40px;
}

.contenedor {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregando transiciones a los cambios */
}

.rectangulo {
    flex: 0.9;
    height: 100px;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Agregando transición de color de fondo */
}

/* Alinear texto verticalmente */
.rectangulo p, .numero p {
    margin: 0;
    line-height: 1.5; /* Ajustar la altura de línea para centrar verticalmente */
}



/* Estilo del pie de página */
footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Reglas de medios para hacer más responsivo */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: stretch; /* Estirando los elementos para ocupar todo el ancho */
    }

    .contenedor {
        width: 100%;
    }

    .rectangulo,
    .numero {
        width: 100%;
        border-right: none;
    }

    .numero {
        height: auto;
    }

    .contenedor:hover {
        transform: none; /* Eliminando el efecto de elevación al pasar el ratón en dispositivos móviles */
    }

    .contenedor:hover .rectangulo,
    .contenedor:hover .numero {
        transform: none; /* Eliminando el agrandamiento al pasar el ratón en dispositivos móviles */
    }

    nav,
    footer {
        width: 100%; /* Ajustando el ancho del encabezado y el pie de página en dispositivos móviles */
    }
}

/* Estilo adicional para mejorar la apariencia */
.contenedor:hover .rectangulo,
.contenedor:hover .numero {
    transition: transform 0.3s ease; /* Transición suave para el cambio de tamaño */
}
